:root {
    --rojo-vino: #800020;
    --blanco: #ffffff;
    --gris-fondo: #f8f9fa;
    --gris-suave: #e9ecef;
    --sombra: rgba(0, 0, 0, 0.1);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: flex;
    background-color: var(--gris-fondo);
    height: 100;
}


.sidebar {
    width: 260px;
    background-color: var(--blanco);
    border-right: 2px solid var(--gris-suave);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}


.menu_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

}

.menu_links .item {
    transition: all 0.5s ease-in-out;
}


.menu_links .item:hover{
background-color: var(--rojo-vino);
transform: scale(1.1);
color: var(--blanco);
}

.logo_foto {
    width: 90%;
    height: 100px;
    background-color: var(--gris-suave);
    border-radius: 10px;
    margin-bottom: 40px;
}


.item {
    padding: 15px;
    text-decoration: none;
    background-color: var(--rojo-vino); 
    color: var(--blanco);
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.main_contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.top_header {
    padding: 20px 40px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--blanco);
    box-shadow: 0 2px 4px var(--sombra);
}

.titulo {
    color: var(--rojo-vino);
    font-size: 40px;
    margin-bottom: 25px;
}


.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    padding:  5px 15px;
    border: 2px solid var(--rojo-vino);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: var(--rojo-vino);
}

.perfil:hover{
background-color: var(--rojo-vino);
transform: scale(1.2);
color: var(--blanco);
}



.perfil_foto {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.dashboard {
    padding: 40px;
}


.seccion_titulo {
    color: var(--rojo-vino);
    font-size: 34px;
    margin-bottom: 25px;
}


/*========================================================================================Tarjetas*/
.materias_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.tarjeta_materia {
    height: 180px;
    background-color: var(--blanco);
    border-radius: 15px;
    box-shadow: 0 4px 12px var(--sombra);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.tarjeta_materia::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: var(--rojo-vino);
    transition: height 0.3s ease-in-out;
}

.tarjeta_materia:hover::before{
    height: 100%;
}

.tarjeta_materia:hover{
    transform: scale(1.1);
}